*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header{
    background-color: #48c5ce;
    text-align: center;
    color: white;
    padding: 10px;
}

.title{
    font-size: 26px;
}

.container{
    max-width: 1000px;
    margin: auto;
}

.bg-1{
     background-image: url('../imagens/people.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     overflow: auto;
}

.bg-form{
    background-color: rgba(128, 128, 128, 0.76);
    max-width: 250px;
    float: right;
    padding: 20px;
    margin: 20px;
}
.botao{
    background-color:#48c5ce;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.mb{
    margin-bottom: 20px;
}

form input, select{
   width: 100%;
   box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('../imagens/arrow.jpg');
    background-repeat: no-repeat;
    background-position: 95%;
}

.biografia{
    background-color: grey;
    padding: 40px;
}

.face{ 
    margin-right: 25px;
}

.about{
    width: 70%;
    margin: auto;  
}
.description{
display: inline-block;
width: 40%;
}

footer{
    background-color: #48c5ce;
    padding: 20px;
    text-align: right;
}

@media screen and (max-width:600px) {
    .bg-form{
        float: none;
        max-width: 100%;
    }
    .about{
        text-align: center;
    }
    .description{
        text-align: left;
       display: inline;
        max-width: 100%;
    }
    footer{
        text-align: center;
    }
}